#header{
    text-align:center;
    background-color:darkred;
    height: 130px;
}

.container_footer{
    position: absolute;
    bottom: 0;
    margin-left: 45%;
    text-align: center;
    background-color:springgreen;
}

.logos{
    height:50px;
    width:60px;
}